@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Fira+Sans', sans-serif;
    font-weight: 300;
    color:  #474646;
}

h1 {
    font-weight: 800;
    font-size: 260%;
    letter-spacing: 2px;
}

h2 {
    font-weight: 500;
    font-size: 130%;
    letter-spacing: 2px;
}

h3 {
    font-weight: 500;
    font-size: 100%;
    letter-spacing: 2px;
}

p {
    letter-spacing: 1px;
    font-size: 1.2vw;
    color: #3a3a3a;
}

span {
    color: #CCD5AE;
    font-weight: bold;
}

/* header and logo */

header {
    background-color: #FAEDCD;
    height: 80px;
    width: 100%;
    margin-top: -80px;
    position: fixed;
    z-index: 5;
}

#logo {
    float: left;
    margin-left: 20px;
    height: auto;
    width: 10%;
}

/* navigation links */

#menu {
    margin-right: 20px;
}

#menu li {
    font-size: 1.2vw;
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu, #logo {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: #D4A373;
}

#menu a:hover {
    border-bottom: 1px solid #464545;
}

.active {
    border-bottom: 1px solid #FAEDCD;
}

/* hero image section */

#hero-image-section {
    height: auto;
    width: 100%;
    margin-top: 80px;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: auto;
    width: 100vw;
    position: relative;
}

#hero-image-text {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    top: 10px;
    position: absolute;
}

#hero-image-text h1 {
    font-size: 3.4vw;
    color: #464545;
}

#hero-image-text h3 {
    font-size: 1vw;
    margin-top: auto;
    color: #464545;
}

/* About Us */

#about-us {
    width: 100%;
    height: auto;
}

.our-mission {
    width: 60%;
    height: auto;
    text-align: left;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 3%;
}

#about-us h2 {
    text-transform: uppercase;
    font-size: 1.8vw;
    color: #D4A373;
    text-align: center;
}

#about-us p {
    font-size: 1.2vw;
    color: #3a3a3a;
    padding: 0 15%
}

/* footer */

footer {
    bottom: 0;
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #FAEDCD;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 60px;
    color: rgb(13, 13, 13);
}

/* courses page */

#box {
    min-width: 80vw;
    background-color: #e9edc9;
    text-align: center;
    border: 1px solid#D4A373;
    border-radius: 5px;
   margin: 5%;
}
#box p {
    padding: 5px;
}
#courses {
    width: 100%;
    height: auto;
}
.courses {
    width: 60%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 3%;
}

#italian h2 {
    text-transform: uppercase;
    font-size: 1.8vw;
    color: #D4A373;
    text-align: center;
}
#asian h2 {
    text-transform: uppercase;
    font-size: 1.8vw;
    color: #D4A373;
    text-align: center;
}
#italian h2 {
    text-transform: uppercase;
    font-size: 1.8vw;
    color: #D4A373;
    text-align: center;
}
#italian h2 {
    text-transform: uppercase;
    font-size: 1.8vw;
    color: #D4A373;
    text-align: center;
}

#courses p {
    font-size: 1.2vw;
    color: #3a3a3a;
    padding: 0 15%
}

.logo {
    float: left;
    margin-left: 20px;
    height: auto;
    width: auto;
}
#classes-hero-image-section {
    margin-top: 80px;
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}
h3, p {
    font-weight: 500;
    font-size: 100%;
    letter-spacing: 2px;

}
#pizza-images {
    max-width: 15%;
    height: auto;
    position: relative;
}
#pasta-images {
    max-width: 15%;
    height: auto;
    position: relative;
}
#sushi-images {
    max-width: 15%;
    height: auto;
    position: relative;
}
#dumplings-images {
    max-width: 15%;
    height: auto;
    position: relative;
}
#meatballs-images {
    max-width: 10%;
    height: auto;
    position: relative;
}
#ovensausegs-images {
    max-width: 15%;
    height: auto;
    position: relative;
}

footer {
    bottom: 0;
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #FAEDCD;
}
/* contact page */

#contact-hero-image-section {
    margin-top: 80px;
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#contact-hero-image {
    max-width: 100%;
    height: auto;
}

/* contact form section */

#contact-form-section {
    width: 100%;
    height: auto;
}

.contact {
    width: 60%;
    height: auto;
    text-align: left;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 3%;
}

#contact-form-section h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3.4vw;
    color: #3a3a3a;
    
}

#contact-form-section h2 {
    text-transform: uppercase;
    font-size: 1.8vw;
    color: #3a3a3a;
    text-align: center;
    margin-top: 10px;
}

#contact-form-div {
    width: 100%;
}

#contact-form {
    background-color: #Faedcd;
    text-align: left;
    padding: 10px 50px 20px 50px;
    width: 30%;
    margin: 0 auto;
}

#contact-form h3 {
    color: #666560;
    text-align: center;
    margin-bottom: 20px;
}

#contact-form h2 {
    margin-bottom: 10px;
}

.text-input {
    background: white;
    color: #3a3a3a;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border-radius: 2px;
}

.text-input:hover {
    border: 2px solid #98894c;
}

.send-button {
    color: #ccd5ae;
    text-align: center;
    font-size: 100%;
    background-color: #e9edc9;
    border-radius: 2px;
    margin-top: 20px;
    padding: 10px;
}

.send-button:hover {
    color: #D2691E;
    background-color: #ffffff;
}

.radio {
    position: relative;
    vertical-align: middle;
    margin-right: 20px;
}

/* contact details section */

#contact-list {
    text-align: center;
}

#details-div {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    background-color: #Faedcd;
    padding-top: 20px;
}

#contact-wrapper {
    background-color: #Faedcd;
    text-align: -webkit-center;
    padding: 30px 50px 30px 50px;
}

#contact-div {
    width: 45%;
}

#contact-div li {
    list-style: none;
}

#contact-div ul {
    width: 80%;
    text-align: center;
}

.contact-details h3 {
    color: #11100f;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 3px;
    margin-top: 10px;
}

.contact-details p {
    font-size: 80%;
}
/* thank you page */

#thankyou-hero-image-section {
    margin-top: 80px;
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#thankyou-hero-image {
    width: 100vw;
    height: auto;
    position: relative;
}

#thankyou-section {
    width: 100%;
    height: 280px;
    margin-top: 90px;
}

.thankyou {
    width: 60%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 3%;
}

#thankyou-section h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3.4vw;
    color: #474646;
}

#thankyou-section h2 {
    text-transform: uppercase;
    font-size: 1.8vw;
    color: #474646;
    text-align: center;
    margin-top: 10px;
}

#thankyou-section p {
    font-size: 1.2vw;
    color: #3a3a3a;
    padding: 0 15%
}

/* media queries */

@media screen and (min-width: 480px) and (max-width: 1000px) {

    #menu li {
        font-size: 2vw;
    }

    #menu {
        line-height: 60px;
    }

    header {

        height: 60px;
        margin-top: -60px;
        position: absolute;
    }

    #logo {
        position: absolute;
        bottom: 0;
        height: 100%;
        width: auto;
    }

    #about-us h2 {
        font-size: 2vw;
    }

    #about-us p {
        font-size: 1.5vw;
    }

    #about-section {
        width: 100vw;
    }

    #about-section-content {
        padding: 0;
    }

    .about-image {
        width: 200px;
    }

    .about {
        vertical-align: middle;
        position: relative
    }

    #left-about {
        width: 100%;
    }

    #right-about {
        width: 100%;
        padding-top: 30px;
    }


    .courses {
        padding-bottom: 10px;
        width: 100%;
        margin: 0;        
    }

    table {
        font-size: 2vw;
    }

    #box {
        min-width: 80vw;
        border-radius: 5px;
        margin: 0%;
    }
    #box p {
        padding: 5px;
    }


    /* contact page */

    #contact-form-section h1 {        
        font-size: 5vw;        
    }
    
    #contact-form-section h2 {        
        font-size: 3.4vw;        
    }
    
    #contact-form-div {
        width: 100%;
    }
    
    #contact-form {        
        width: 50%;        
    }

    #details-div {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        background-color: #F7E4E6;
        padding-top: 20px;
    }

    #contact-wrapper {        
        text-align: center;
        padding: 30px 30px 30px 30px;
        width: 100%;        
    }

    #contact-div ul {
        width: 60%;
        text-align: left;
    }

    .contact-details p {
        font-size: 60%;
    }

    #thankyou-section {
        width: 100vw;
        height: 570px;
        margin-top: 150px;
    }

    #thankyou-section h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 6vw;
        color: #Faedcd;
    }
    
    #thankyou-section h2 {
        text-transform: uppercase;
        font-size: 3.4vw;
        color: #Faedcd;
        text-align: center;
        margin-top: 10px;
    }
    
    #thankyou-section p {
        font-size: 3vw;
        color: #3a3a3a;
        padding: 0 15%
    }

}

@media screen and (min-width: 0px) and (max-width: 480px) {

    #menu li {
        font-size: 2.8vw;
        margin-right: 30px;
    }

    #menu {
        line-height: 60px;
    }

    header {
        height: 60px;
        margin-top: -60px;
        position: absolute;
    }

    #logo {
        position: absolute;
        bottom: 0;
        height: 100%;
        width: auto;
        margin-left: 30px;
    }

    #hero-image-text h1 {
        font-size: 6vw;
    }

    #hero-image-text h3 {
        font-size: 2vw;
        font-weight: bold;
    }

    #about-us h2 {
        font-size: 3.6vw;
    }

    #about-us p {
        font-size: 3vw;
    }


    #about-section {
        width: 100vw;
    }

    .about-image {
        width: 200px;
    }

    .about {
        vertical-align: middle;
        position: relative
    }

    #left-about {
        width: 100%;
    }

    #right-about {
        width: 100%;
        padding-top: 30px;
    }

    

    footer {
        height: 110px;
    }

    .social-networks i {
        font-size: 140%;
        padding: 40px 30px;
    }

    /* courses page */

    

    .courses {
        padding-bottom: 10px;
        width: 100%;
        margin: 0;        
    }

    table {
        font-size: 2vw;
    }

    #box {
        min-width: 80vw;
        border-radius: 5px;
        margin: 0%;
    }
    #box p {
        padding: 5px;
    }

    /* contact page */

    #contact-form-section h1 {        
        font-size: 5vw;        
    }
    
    #contact-form-section h2 {        
        font-size: 3.4vw;
    }
    
    #contact-form {
        text-align: left;
        padding: 10px 50px 20px 50px;
        width: 55%;
        margin: 0 auto;
    }
    
    #contact-form h3 {
        font-size: 3vw;       
    }
    
    #contact-form h2 {
        margin-bottom: 10px;
        font-size: 3.8vw;
    }
    
    .label-checkbox {
        font-size: 3.6vw;
    }

    .text-input {        
        background: white;
        color: #3a3a3a;
        width: 100%;
        height: 25px;
        margin: 5px 0 20px 0;
        border-radius: 2px;
    }
    
    .text-input:hover {
        border: 2px solid rgb(148, 170, 211);
    }
    
    .send-button {        
        color: #ffffff;
        text-align: center;               
        font-size: 100%;
        background-color: rgb(148, 170, 211);
        border-radius: 2px;
        margin-top: 20px;
        padding: 10px;
    }
    
    .send-button:hover {
        color: #D4A373;
        background-color: #ffffff;
    }
    
    .radio {
        position: relative;
        vertical-align: middle;
        margin-right: 20px;
    }

    #contact-div ul {
        width: 100%;
        text-align: center;
    }

    .contact-details p {
        font-size: 3vw;
    }

    .contact-details {
        display: block;
        align-content: center;               
    }

    #details-div {
        width: 100%;
        text-align: center;
        margin-top: 50px;        
        padding-top: 20px;
    }

    #details-div h2 {
        font-size: 3.8vw;
    }
    
    #contact-wrapper {        
        text-align: center;
        padding: 10px 30px 30px 30px;
    }
    
    #contact-div {
        width: 100%;
        text-align: center;
    }
    
    #contact-div li {
        list-style: none;
        text-align: center;
    }
    
    .contact-details h3 {
        font-size: 4vw;        
    }
    
    .contact-details p {
        font-size: 80%;
        text-align: center;
    }

    #contact-list {
        width: 80%;
    }

    #thankyou-section {
        width: 100vw;
        height: 200px;
        margin-top: 30px;
    }

    #thankyou-section h1 {        
        font-size: 6vw;        
    }
    
    #thankyou-section h2 {        
        font-size: 3.4vw;        
    }
    
    #thankyou-section p {
        font-size: 3vw;        
    }

}