@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #c70606
}

h1 {
    font-weight: 800;
    font-size: 260%;
    letter-spacing: 2px;
}

h2 {
    font-weight: 500;
    font-size: 130%;
    letter-spacing: 2px;
}

h3 {
    font-weight: 500;
    font-size: 100%;
    letter-spacing: 2px;
}

p {
    letter-spacing: 1px;
    font-size: 1.2vw;
    color: #d50fdb;
}

span {
    color: #c85208;
    font-weight: bold;
}
